<div class="container ">
    <div class="row">
        <div class="col text-center">
            <img src="img/img.jpeg" alt="jovino" class="img-thumbnail rounded-circle" width="200px">
            <h1 class="display-4">Jovino Diandra</h1>
            <p class="lead " >Gym | Content creator</p>
        </div>
    </div>
</div>

